/* ---- Elements makeup ----
 *
 */

body {
	font-family: verdana;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
/* ---- Classes ----
 *
 */

.sidebar_link {
	background-color: lightgrey;
	color: black;
	text-decoration: none;
	border: solid;
	border-color: #0099FF;
	border-width: 1px;
	border-radius: 20px;
	text-align: center;
	padding: 5px 5px;
	display: inline-block;
	margin: 2px;
	width: 90%; 
	list-style-type: none;
	cursor: pointer;
}

.question {
	background-color: ghostwhite;
	border-radius: 25px;
	padding: 3px;
	box-shadow: -2px -2px lightgrey;
	text-decoration: none;
}

.button_vraag {
	background-color: lightgrey;
	color: black;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}

/* ---- grid ----
 *
 */

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
.logo {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.header {
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 1;
	grid-row-end: 1;
}

.sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

.main {
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 2;
	grid-row-end: 2;
}

/* ---- Classes -----
*
*/
.navbutton {
	background-color: lightgrey;
	color: black;
	text-decoration: none;
	border: solid;
	border-color: #0099FF;
	border-width: 1px;
	border-radius: 20px;
	font-size: 18px;
	text-align: center;
	padding: 5px 5px;
	display: inline-block;
	margin: 2px;
	width: 90%;
	cursor: pointer;
}

/* ----- Image Classes ---
*
*/
.imagevsmall {
	width: 10%;
	height:  auto;
}


.imagesmall {
	width: 25%;
	height:  auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 


.imagemid {
	width: 50%;
	height:  auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

.imagelarge {
	width: 100%;
	height:  auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

/* ---- ID's ----
*
*/

#logoimg {
	width: 100%;
	height: auto;
	border-radius: 25%;
}

#buttonback {
	background-color: lightblue;
}

